.input-done {
	color: green;
	outline: none;
}

.errorEnter {
	border: solid 2px red;
	border-radius: 5px;
	outline: none;
	color: red;
}
.container {
	display: table;
}

.inputfocus {
	border: solid 2px green;
	border-radius: 5px;
	outline: none;
}

.label {
	font-weight: bolder;
	color: white;
	text-decoration: white;
	width: 300px;
	background-color: coral;
	height: 50px;
	padding: 30px 0 0 30px;
}

.remove {
	border: solid 0.5px black;
	background-color: white;
	border-radius: 45%;
	margin: 5px;
}

.label.input {
	padding-right: 50px;
}

.price {
	box-sizing: border-box;
	border: solid 1px black;
	border-radius: 30px;
	margin-top: 3px;
	padding: 2px 5px 5px 5px;
	min-width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
